* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: darkmagenta;
}

a {
  text-decoration: none;
  color: #ffffff;
}

ul {
  list-style: none;
}

.container {
  width: 1200px;
  margin: 0 auto;
  padding: 0 20px;
}

.header {
  /* position: fixed; */
  /* top: 0;
  left: 0; */
  padding-top: 50px;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.logo {
  font-weight: 900;
  font-size: 2em;
}

.list {
  display: flex;
  justify-content: center;
  align-items: center;
}

.list-item {
  margin-right: 20px;
}

.list-item:last-child {
  margin-right: 0;
}
